.App {
  text-align: center;
  max-width: 350px;
  margin: 0px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  border: 2px solid #0063f5;
  background: white;
  outline: none;
  margin: 30px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
